{
    "branches": [
        "main",
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        "@iwavesmedia/semantic-release-composer",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "composer.json",
                    "CHANGELOG.md"
                ]
            }
        ],
        [
            "@semantic-release/github",
            {
                "successCommentCondition": "<% return issue.pull_request; %>"
            }
        ]
    ]
}
